/**
Commons
*/
*, *:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}

a, button, input{
	outline: 0;
	border: 0;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}

body {
    background: #f8f8f8;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
     font-family: 'Candara';
}
p{
	line-height: 1.2;
	margin-bottom: 15px;
}
a{
	color: #E63312;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color: #7D8D98;
}
strong,b{
	font-weight: 700;
}
em,i{
	font-style: italic;
}
u{
	text-decoration: underline;
}
input[type=text],
input[type=email],
input[type=tel],
textarea{   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;    
}
::selection {
  color: #fff;
  background: #512C36;
}
/*-- app gap use pattern --*/
/*data-xxs = 575
data-xs = 767
data-sm = 991
data-md = 1199
data-value = normal*/

/**
Containers fluid
*/
/*.container-fluid{
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 2%;
	margin-right: 2%;
  	width: auto;
}
.container-fluid .row{
	margin-left: -30px;
	margin-right: -30px;
}

.container-fluid .row .col-lg-1, .container-fluid .row .col-lg-10, .container-fluid .row .col-lg-11, .container-fluid .row .col-lg-12, .container-fluid .row .col-lg-2, .container-fluid .row .col-lg-3, .container-fluid .row .col-lg-4, .container-fluid .row .col-lg-5, .container-fluid .row .col-lg-6, .container-fluid .row .col-lg-7, .container-fluid .row .col-lg-8, .container-fluid .row .col-lg-9, 
.container-fluid .row .col-md-1, .container-fluid .row .col-md-10, .container-fluid .row .col-md-11, .container-fluid .row .col-md-12, .container-fluid .row .col-md-2, .container-fluid .row .col-md-3, .container-fluid .row .col-md-4, .container-fluid .row .col-md-5, .container-fluid .row .col-md-6, .container-fluid .row .col-md-7, .container-fluid .row .col-md-8, .container-fluid .row .col-md-9, 
.container-fluid .row .col-sm-1, .container-fluid .row .col-sm-10, .container-fluid .row .col-sm-11, .container-fluid .row .col-sm-12, .container-fluid .row .col-sm-2, .container-fluid .row .col-sm-3, .container-fluid .row .col-sm-4, .container-fluid .row .col-sm-5, .container-fluid .row .col-sm-6, .container-fluid .row .col-sm-7, .container-fluid .row .col-sm-8, .container-fluid .row .col-sm-9, 
.container-fluid .row .col-xs-1, .container-fluid .row .col-xs-10, .container-fluid .row .col-xs-11, .container-fluid .row .col-xs-12, .container-fluid .row .col-xs-2, .container-fluid .row .col-xs-3, .container-fluid .row .col-xs-4, .container-fluid .row .col-xs-5, .container-fluid .row .col-xs-6, .container-fluid .row .col-xs-7, .container-fluid .row .col-xs-8, .container-fluid .row .col-xs-9{
	padding-left: 30px;
	padding-right: 30px;
}*/


/**
Containers
*/
.container-xlg,
.container-lg,
.container-md,
.container-sm,
.container-xs{
	width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:before,
.container-sm:after,
.container-xs:before,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	
}
.container-lg{

}
.container{
	max-width: 1200px;
	width: 100%;
}
.container-md{

}

.container-sm{

}


.page-body-cntlr{
	max-width: 1920px; 
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
	border-radius: 0;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.inline-bg{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}

.fl-btn-absolute{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}


ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.reset-slect ul,
ul.ab-top-menu,
.fl-pagination-cntlr ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list > li,
ul.sub-menu li,
.fl-pagi-ctlr ul li,
.reset-slect ul li,
ul.ab-top-menu li,
.fl-pagination-cntlr ul li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
ul.sub-menu li:before,
.fl-pagi-ctlr ul li:before,
.reset-slect ul li:before,
ul.ab-top-menu li:before,
.fl-pagination-cntlr ul li:before,
.map-inner-cntlr ul li:before,
.gm-style-mtc ul li:before{
	content: none!important;
}





/*fl select 2*/
select{
	width: 100%;
}
body .select2-container .select2-selection--single {
    height: 54px!important;
    display: flex!important;
    align-items: center!important;
    padding: 16px!important;
    background-color: #fff!important;
    border: 1px solid #D9D9D9!important;
    border-radius: 8px!important;
    position: relative!important;    
}
body .select2-container--default .select2-selection--single .select2-selection__rendered {
    overflow: initial!important;
    padding: 0!important;
    color: #A4A4A4!important;
    font-size: 16px!important;
    font-weight: 500;
    line-height: 1!important;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: initial!important;
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35px;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
body .select2-selection__arrow:after {
    content: "";
    background: url('../images/selact-arow.svg');
    background-repeat: no-repeat!important;
    background-size: 100% auto;
    width: 12px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 0px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
body .select2-container--open .select2-selection__arrow:after {
    content: "";
    transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
}
body .select2-container--open .selection .select2-selection--single .select2-selection__rendered {
    border-color: #F2F2F2!important;
}
body .select2-search--dropdown {
    display: none;
}
body .select2-container--default .select2-results__option--selected {
    background-color: transparent!important;
    background: linear-gradient(90deg, rgba(143, 175, 255, 0.25) 0%, rgba(143, 175, 255, 0.1) 100%)!important;
    color: #262180!important;
}
body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #262180!important;
    color: #fff!important;
}
body .select2-results__option {
    padding: 10px 18px!important;
    line-height: 1!important;
    margin-bottom: 0!important;
}
body .select2-results__option:before{
	content: none!important;
}
body .select2-dropdown {
    border: 1px solid #F2F2F2!important;
}

/*if wp-form*/
body .cntct-form-wrap .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .select2-results__options{
    background-color: #fff!important;
}
body .cntct-form-wrap .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .select2-container{
    z-index: 9;
}


/*slider break fix*/
.sliderbreak .slideitem{
	display: none;
}

.sliderbreak .slideitem:first-child{
	display: block;
}

.sliderbreak.slick-initialized .slideitem{
	display: block;
}